.dashboard {
    &__header {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1000;
        display: flex;
        align-items: center;
        justify-content: center;
        height: $dashboard-header-height;
        box-shadow: 0 2px 5px 2px rgba(60, 64, 67, 0.15);
        background-color: #fff;
    }

    &__new {
        margin-top: $dashboard-header-height;
        padding: 1.5rem;
        background-color: #dadce0;
    }

    &__create {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #dadce0;
        border-radius: 4px;
        width: 160px;
        height: 160px;
        font-size: 1.5rem;
        text-align: center;
        text-decoration: none;
        color: #000;
        background-color: #fff;

        &:hover {
            border-color: rgb(0, 128, 0);
            color: rgb(0, 128, 0);
            cursor: pointer;
        }
    }

    &__view {
        margin: 0 auto;
        max-width: 1000px;
    }

    &__table {
        padding: 1rem;
    }

    &__list-header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        padding: 0 12px;
        font-weight: 500;
        font-size: 16px;
        color: #202124;
    }

    &__list {
        @include clear-list;
    }

    &__record {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
        padding: 12px 14px 12px 16px;

        &-link {
            font-size: 14px;
            text-decoration: none;
            color: #202124;

            &:hover {
                text-decoration: underline;
            }
        }

        &:hover {
            border-radius: 25px;
            background-color: #e6f4ea;
        }
    }
}
