.excel-formula {
    @include position($header-height + $toolbar-height, $formula-height);

    align-items: center;

    &__info {
        border-right: $border;
        min-width: $info-cell-width;
        font-style: italic;
        font-size: 18px;
        text-align: center;
    }

    &__input {
        outline: none;
        padding: 4px;
        width: 100%;
        height: 100%;
        color: #000;
    }
}
