.excel-header {
    @include position(0, $header-height);

    justify-content: space-between;
    padding: 8px 4px 0;

    &__title-input {
        outline: none;
        border: 2px solid transparent;
        border-radius: 2px;
        padding: 2px 7px;
        height: 20px;
        min-width: 1px;
        font-size: 18px;
        line-height: 22;
        color: #000;

        &:hover {
            border: 2px solid $border-color;
        }

        &:focus {
            border: 2px solid #1a73e8;
        }
    }

    &__button {
        @include button(red);
    }
}
