@mixin button($color: green) {
    position: relative;
    display: inline-block;
    outline: none;
    border: none;
    padding: 3px;
    height: 24px;
    min-width: 24px;
    text-align: center;
    color: rgb(0, 0, 0, 0.7);
    background-color: transparent;

    .icon {
        font-size: 18px;
    }

    &:hover {
        background-color: #eee;
        cursor: pointer;
    }

    &:active,
    &.active {
        color: $color;
    }
}

@mixin position($top, $height) {
    position: absolute;
    top: $top;
    right: 0;
    left: 0;
    display: flex;
    border-bottom: $border;
    height: $height;
}

@mixin row-and-column() {
    display: flex;
    align-items: center;
    justify-content: center;
    border: $border;
    border-top: none;
    background-color: #f8f9fa;
}

@mixin clear-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

@mixin resize($cursor) {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: $primary-color;
    opacity: 0;

    &:hover {
        opacity: 1;
        cursor: $cursor;
    }

    &:active {
        z-index: 1000;
        opacity: 1;
        cursor: $cursor;
    }
}
