$header-height: 34px;
$toolbar-height: 40px;
$formula-height: 24px;
$info-cell-width: 40px;
$row-heeight: 24px;
$cell-width: 120px;
$dashboard-header-height: 64px;
$border-color: #c0c0c0;
$border: 1px solid $border-color;
$primary-color: #3c74ff;
$resizer-size: 4px;
